// CashAdvance.scss

.cash-advance-table {
    width: 100%;
  
    .TopMenu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 20px;
  
      .CurrentPage {
        h1 {
          margin: 0;
          font-size: 24px;
        }
      }
  
      .Navigate {
        button {
          background-color: #007bff;
          color: #fff;
          border: none;
          padding: 8px 16px;
          border-radius: 5px;
          cursor: pointer;
  
          &:hover {
            background-color: #0056b3;
          }
        }
      }
    }
  
    .addNew {
      margin-bottom: 20px;
  
      button {
        background-color: #28a745;
        color: #fff;
        border: none;
        padding: 8px 16px;
        border-radius: 5px;
        cursor: pointer;
        margin: 4px;
  
        &:hover {
          background-color: #218838;
        }
      }
    }
  
    table {
      width: 100%;
      border-collapse: collapse;
  
      th, td {
        border: 1px solid #ccc;
        padding: 8px;
        text-align: center;
      }
  
      th {
        background-color: #f2f2f2;
        font-weight: bold;
      }
    }
  
    .edit-button, .delete-button {
      background-color: #007bff;
      color: #fff;
      border: none;
      padding: 8px 16px;
      border-radius: 5px;
      margin: 4px;
      cursor: pointer;
      margin-right: 5px;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  
    .delete-button {
      background-color: #dc3545;
  
      &:hover {
        background-color: #c82333;
      }
    }
  }
  