
.TimeTable {
  width: 200px; 
  margin: auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;

  div {
    margin-bottom: 10px;

    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
      margin: 5px;
    }

    input {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
      box-sizing: border-box;
      max-width: 5px;
    }
  }

  button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}

