.mainContainer {
    ::-webkit-scrollbar {
        display: none;
    }
    overflow: hidden;

.navbar {
    background-color: #dbd5d5;
}
.mainBottom {
    display: flex;
    justify-content: space-between;
    background-color: #e9e8e8;
    height: 100vh; 

    .sidebar {
        width: 17%;
        background-color: rgb(20, 20, 20);
        background-image: url();
    }
    .mainContent {
        width: 84%;
        background-image: (url() );
        background-color:rgb(167, 164, 164);
        overflow: scroll;
    }

}
}