
.positions-table {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.TopMenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.CurrentPage h1 {
  font-size: 24px;
  margin: 0;
}

.Navigate button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.Navigate button:hover {
  background-color: #0056b3;
}

.addNew {
  margin-bottom: 20px;
}

.addNew button {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.addNew button:hover {
  background-color: #218838;
}

form {
  margin-bottom: 20px;
}

form input {
  width: calc(100% - 40px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #f4f4f4;
}

tr:last-child td {
  border-bottom: none;
}

button {
  padding: 5px 10px;
  margin-right: 5px;
  background-color: #3583dc;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #c82333;
}
